<%= form_for(@exposure) do |f| %>
  <% if @exposure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exposure.errors.count, "error") %> prohibited this exposure from being saved:</h2>

      <ul>
      <% @exposure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.text_field :published %>
  </div>
  <div class="field">
    <%= f.label :cvss_severity %><br>
    <%= f.number_field :cvss_severity %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cvss_v2_base_scroe %><br>
    <%= f.number_field :cvss_v2_base_scroe %>
  </div>
  <div class="field">
    <%= f.label :impact_subscore %><br>
    <%= f.number_field :impact_subscore %>
  </div>
  <div class="field">
    <%= f.label :exploitability_subscore %><br>
    <%= f.number_field :exploitability_subscore %>
  </div>
  <div class="field">
    <%= f.label :access_vector %><br>
    <%= f.text_field :access_vector %>
  </div>
  <div class="field">
    <%= f.label :access_complexity %><br>
    <%= f.text_field :access_complexity %>
  </div>
  <div class="field">
    <%= f.label :authentication %><br>
    <%= f.text_field :authentication %>
  </div>
  <div class="field">
    <%= f.label :impact_type %><br>
    <%= f.text_field :impact_type %>
  </div>
  <div class="field">
    <%= f.label :web_link %><br>
    <%= f.text_field :web_link %>
  </div>
  <div class="field">
    <%= f.label :external_source_organization %><br>
    <%= f.text_field :external_source_organization %>
  </div>
  <div class="field">
    <%= f.label :external_source_name %><br>
    <%= f.text_field :external_source_name %>
  </div>
  <div class="field">
    <%= f.label :external_source_link %><br>
    <%= f.text_field :external_source_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
