<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @exposure.summary %>
</p>

<p>
  <strong>Published:</strong>
  <%= @exposure.published %>
</p>

<p>
  <strong>Cvss severity:</strong>
  <%= @exposure.cvss_severity %>
</p>

<p>
  <strong>Title:</strong>
  <%= @exposure.title %>
</p>

<p>
  <strong>Cvss v2 base scroe:</strong>
  <%= @exposure.cvss_v2_base_scroe %>
</p>

<p>
  <strong>Impact subscore:</strong>
  <%= @exposure.impact_subscore %>
</p>

<p>
  <strong>Exploitability subscore:</strong>
  <%= @exposure.exploitability_subscore %>
</p>

<p>
  <strong>Access vector:</strong>
  <%= @exposure.access_vector %>
</p>

<p>
  <strong>Access complexity:</strong>
  <%= @exposure.access_complexity %>
</p>

<p>
  <strong>Authentication:</strong>
  <%= @exposure.authentication %>
</p>

<p>
  <strong>Impact type:</strong>
  <%= @exposure.impact_type %>
</p>

<p>
  <strong>Web link:</strong>
  <%= @exposure.web_link %>
</p>

<p>
  <strong>External source organization:</strong>
  <%= @exposure.external_source_organization %>
</p>

<p>
  <strong>External source name:</strong>
  <%= @exposure.external_source_name %>
</p>

<p>
  <strong>External source link:</strong>
  <%= @exposure.external_source_link %>
</p>

<%= link_to 'Edit', edit_exposure_path(@exposure) %> |
<%= link_to 'Back', exposures_path %>
