<h1>Listing cves</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Published</th>
      <th>Cvss severity</th>
      <th>Title</th>
      <th>Cvss v2 base scroe</th>
      <th>Impact subscore</th>
      <th>Exploitability subscore</th>
      <th>Access vector</th>
      <th>Access complexity</th>
      <th>Authentication</th>
      <th>Impact type</th>
      <th>Web link</th>
      <th>External source org</th>
      <th>External source name</th>
      <th>External source link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cves.each do |cfe| %>
      <tr>
        <td><%= cfe.summary %></td>
        <td><%= cfe.published %></td>
        <td><%= cfe.cvss_severity %></td>
        <td><%= cfe.title %></td>
        <td><%= cfe.cvss_v2_base_scroe %></td>
        <td><%= cfe.impact_subscore %></td>
        <td><%= cfe.exploitability_subscore %></td>
        <td><%= cfe.access_vector %></td>
        <td><%= cfe.access_complexity %></td>
        <td><%= cfe.authentication %></td>
        <td><%= cfe.impact_type %></td>
        <td><%= cfe.web_link %></td>
        <td><%= cfe.external_source_org %></td>
        <td><%= cfe.external_source_name %></td>
        <td><%= cfe.external_source_link %></td>
        <td><%= link_to 'Show', cfe %></td>
        <td><%= link_to 'Edit', edit_cfe_path(cfe) %></td>
        <td><%= link_to 'Destroy', cfe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cve', new_cfe_path %>
